:root {
  --title-font-family: "Monoton", cursive;
  --titleColor-color: rgb(47, 224, 255);
  --hover-color: #e73c7e;
  --background-color: rgb(50, 53, 54);
  --accent-color: orange;
}

body {
  height: 100vh;
  background-color: rgb(50, 53, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 53, 54);
  width: 100%;
  height: 5rem;
}

.title {
  font-family: var(--title-font-family);
  font-size: 55px;
  padding: 15px;
  color: var(--titleColor-color);
}

.turn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.turn-title {
  font-family: var(--title-font-family);
  color: var(--hover-color);
  font-size: 3rem;
}

.control-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  height: 5rem;
}

.reset-game {
  background-color: var(--accent-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
}

.game-box {
  margin: 10px;
  width: 630px;
  height: 630px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.game-box > * {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box > * {
  position: relative;
  top: 15px;
  font-family: var(--title-font-family);
  font-size: 200px;
}

.results-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.results-box > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 15px;
  margin-top: 40px;
  height: 6rem;
  width: 14rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  color: white;
}

.counter-name {
  font-family: var(--title-font-family);
  margin-bottom: 5px;
}

.score {
  font-family: var(--title-font-family);
  font-size: 35px;
  margin: 0px;
  font-weight: bolder;
}

footer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.created-by {
  font-family: var(--title-font-family);
  color: var(--titleColor-color);
}

.github-link {
  text-decoration: none;
  color: orange;
  font-size: 25px;
}

.github-link:hover {
  color: var(--hover-color);
}
